:root {
  --main-bg-dark: #aedae6;
  --main-bg-light: #E4E6E7;
  --main-dark: #0694a6;
  --subtitle-bg: #00bcd4;
  --bg-dark: #242424;
  --white: #ffffff;
  --black: #000000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
}

/* roboto-regular - latin */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/roboto-v27-latin-regular.eot');
  /* IE9 Compat Modes */
  src: local(''), url('./fonts/roboto-v27-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./fonts/roboto-v27-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('./fonts/roboto-v27-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('./fonts/roboto-v27-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('./fonts/roboto-v27-latin-regular.svg#Roboto') format('svg');
  /* Legacy iOS */
}

/* roboto-500 - latin */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('./fonts/roboto-v27-latin-500.eot');
  /* IE9 Compat Modes */
  src: local(''), url('./fonts/roboto-v27-latin-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./fonts/roboto-v27-latin-500.woff2') format('woff2'), /* Super Modern Browsers */
  url('./fonts/roboto-v27-latin-500.woff') format('woff'), /* Modern Browsers */
  url('./fonts/roboto-v27-latin-500.ttf') format('truetype'), /* Safari, Android, iOS */
  url('./fonts/roboto-v27-latin-500.svg#Roboto') format('svg');
  /* Legacy iOS */
}

/* roboto-700 - latin */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('./fonts/roboto-v27-latin-700.eot');
  /* IE9 Compat Modes */
  src: local(''), url('./fonts/roboto-v27-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./fonts/roboto-v27-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('./fonts/roboto-v27-latin-700.woff') format('woff'), /* Modern Browsers */
  url('./fonts/roboto-v27-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('./fonts/roboto-v27-latin-700.svg#Roboto') format('svg');
  /* Legacy iOS */
}

/* roboto-900 - latin */

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: url('./fonts/roboto-v27-latin-900.eot');
  /* IE9 Compat Modes */
  src: local(''), url('./fonts/roboto-v27-latin-900.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('./fonts/roboto-v27-latin-900.woff2') format('woff2'), /* Super Modern Browsers */
  url('./fonts/roboto-v27-latin-900.woff') format('woff'), /* Modern Browsers */
  url('./fonts/roboto-v27-latin-900.ttf') format('truetype'), /* Safari, Android, iOS */
  url('./fonts/roboto-v27-latin-900.svg#Roboto') format('svg');
  /* Legacy iOS */
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1480px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.container-separator {
  display: grid;
  grid-template-columns: 40% 60%;
}

.dark-section {
  background-color: var(--main-dark);
  width: 100%;
}

.middle-dark-section {
  background-color: var(--main-bg-dark);
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
}

.light-section {
  background-color: var(--main-bg-light);
  width: 100%;
}

.subtitle {
  width: 100%;
  font-family: Forum;
  font-style: normal;
  font-weight: normal;
  font-size: 32px;
  line-height: 35px;
  letter-spacing: 5px;
  text-transform: uppercase;
  text-align: center;
  color: var(--white);
  background-color: var(--subtitle-bg);
  padding: 10px;
  margin-bottom: 25px;
  text-align: center;
  margin: 0 auto;
}

.main-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 48px;
  line-height: 53px;
  text-transform: uppercase;
  text-align: center;
  color: var(--white);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.header-logo {
  background-color: var(--white);
  width: 150px;
  height: auto;
  border-radius: 100%;
}

.header-menu-lists {
  display: flex;
  flex-wrap: wrap;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  letter-spacing: 2px;
}

.header-menu-item {
  margin-right: 20px;
  list-style-type: none;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
}

.header-menu-link {
  text-decoration: none;
  color: var(--white);
  cursor: pointer;
}

.header-menu-link:hover, .header-menu-link:active {
  transition: .5s;
  color: var(--main-bg-dark);
  border-bottom: 1px solid var(--main-bg-dark);
}

.header-item {
  padding-right: 10px;
}

/* __header end */

/* __about start */

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 150px;
  margin: 0 auto;
}

.about-img {
  max-width: 400px;
  width: 100%;
  height: auto;
  border-radius: 100%;
  object-fit: cover;
}

.about-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 900;
  font-size: 50px;
  line-height: 55px;
  letter-spacing: 0.005em;
  text-align: center;
  color: var(--subtitle-bg);
  margin-top: 25px;
}

.about-subtitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 28px;
  line-height: 33px;
  letter-spacing: 2px;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
}

.about-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 38px;
  text-align: left;
}

/* __about end */

/* communication start */

.communication {
  width: 100%;
}

.bold-text {
  font-weight: bold;
}

.communication-lists {
  display: flex;
  flex-direction: column;
}

.communication-item {
  padding: 10px;
  font-size: 25px;
  letter-spacing: 2px;
  list-style-type: none;
  position: relative;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 26px;
}

.communication-link {
  text-decoration: none;
  color: var(--black);
  position: relative;
  cursor: pointer;
}

.communication-link:after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: -4px;
  width: 0;
  height: 1px;
  background-color: var(--main-bg-light);
  transition: width 0.5s;
}

.communication-link:hover:after {
  content: "";
  width: 100%;
  display: block;
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 1px;
  background-color: var(--subtitle-bg);
  transition: width 0.5s;
}

.communication-ico {
  padding-left: 40px;
  background-image: url("./img/mail.svg");
  background-position: left center;
  background-size: 24px 25px;
  background-repeat: no-repeat;
}

.communication-ico-area {
  background-image: url("./images/area.svg");
}

.communication-ico-mail {
  background-image: url("./images/mail.svg");
}

.communication-ico-phone {
  background-image: url("./images/phone.svg");
}

.communication-ico-link {
  background-image: url("./images/arrow.svg");
}

/* communication end */

/* skills start */

.skills {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 0 60px;
  text-align: center;
  border-radius: 5px;
  padding-top: 75px;
}

.skills-item {
  padding: 7px 20px;
  margin-bottom: 10px;
  font-size: 20px;
  letter-spacing: 2px;
  list-style-type: none;
  border-radius: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 22px;
  line-height: 23px;
  letter-spacing: 2px;
  margin-right: 10px;
}

.skills-lists {
  margin-top: 25px;
  font-size: 20px;
  line-height: 26px;
  text-align: left;
  list-style-type: none;
  text-transform: uppercase;
  -moz-column-count: 2;
  -webkit-column-count: 2;
  column-count: 2;
  min-height: 200px;
}

.skills-item {
  position: relative;
  display: block;
  height: 35px;
  line-height: 16px;
  margin-bottom: 30px;
  padding: 10px;
  color: var(--black);
  background: var(--main-bg-dark);
  border-radius: 15px;
}

.skills-title {
  margin-bottom: 35px;
}

/* skills end */

/* education start */

.education {
  padding: 0 60px;
}

.education-lists {
  margin-top: 25px;
  font-size: 20px;
  line-height: 26px;
  text-align: left;
  list-style-type: none;
  min-height: 200px;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.education-item {
  position: relative;
  display: block;
  height: 35px;
  line-height: 16px;
  margin-bottom: 45px;
  border-radius: 15px;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.education-link {
  color: var(--black);
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
}

.education-title {
  margin-bottom: 35px;
}

.education-language {
  display: block;
  height: 35px;
  line-height: 16px;
  margin-bottom: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 23px;
  display: flex;
  align-items: center;
}

/* education end */

/* code start */

.code {
  padding: 0 60px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 60px 0;
}

.code-example {
  font-size: 20px;
}

.code-formatting {
  white-space: pre-wrap;
  padding: 0;
  margin: 0;
  overflow: auto;
  overflow-y: hidden;
  font-size: 12px;
  line-height: 20px;
  background: #efefef;
  border: 1px solid var(--main-bg-dark);
  margin-top: 85px;
}

/* code end */

/* projects start */

.projects {
  padding-top: 35px;
  background-color: var(--main-bg-dark);
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 30px;
  row-gap: 50px;
  margin-top: 35px;
}

.projects-container-item {
  list-style-type: none;
}

.projects-link {
  text-decoration: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 18px;
  line-height: 21px;
}

.projects-img-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  font-size: 22px;
  line-height: 26px;
  color: var(--black);
  margin: 20px 0;
  text-align: center;
}

.img-wrapper {
  display: inline-block;
  overflow: hidden;
}

.projects-img {
  transition: 1s;
  display: block;
}

.projects-img:hover {
  transform: scale(1.2);
}

/* projects end */

.footer {
  grid-area: footer;
  padding: 20px 45px;
  background-color: var(--main-dark);
}

.footer-list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style-type: none;
}

.footer-githab {
  width: 150px;
  height: auto;
}

.footer-rss {
  width: 200px;
  height: auto;
}

.footer-year {
  color: var(--light-text);
  text-align: center;
  font-size: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 200;
  line-height: 22px;
}

/* media*/

@media screen and (max-width: 1350px) {
  .header-logo {
    width: 100px;
  }
  .main-title {
    font-size: 40px;
  }
  .header-menu-link {
    font-size: 18px;
  }
  .skills {
    padding: 40px;
  }
}

@media screen and (max-width: 1150px) {
  .main-title {
    font-size: 35px;
  }
  .header-container {
    flex-direction: column;
  }
  .subtitle {
    font-size: 20px;
    line-height: 22px;
  }
  .skills {
    padding: 10px;
  }
  .about-title {
    font-size: 35px;
    line-height: 40px;
  }

  .education {
    padding: 0 50px;
  }
}

@media screen and (max-width: 992px) {
  .communication-item {
    font-size: 16px;
    line-height: 18px;
  }
  .skills-lists {
    font-size: 14px;
    line-height: 16px;
    display: flex;
    flex-direction: column;
  }

  .skills-item {
    font-size: 20px;
    line-height: 25px;
  }

  .education {
    padding: 0 30px;
  }
}

@media screen and (max-width: 480px) {
  .communication-item {
    font-size: 10px;
    line-height: 12px;
  }
  .subtitle {
    font-size: 10px;
    line-height: 12px;
    text-decoration: none;
  }
  .skills {
    padding: 10px;
  }
  .about-title {
    font-size: 20px;
    line-height: 25px;
  }
  .about-subtitle {
    font-size: 18px;
    line-height: 22px;
  }

  .skills-item {
    font-size: 16px;
    line-height: 20px;
  }
  .middle-dark-section {
    padding-left: 5px;
    padding-right: 5px;
  }
  .about-text {
    font-size: 16px;
    line-height: 20px;
  }

  .education {
    padding: 0 10px;
  }
  .education-link {
    font-size: 16px;
    line-height: 20px;
  }

  .education-language {
    font-size: 16px;
    line-height: 20px;
  }

  .code-example {
    font-size: 12px;
    line-height: 14px;
  }

  .communication-ico {
    background-size: 10px 10px;
  }
}